.form {
  display: flex;
  top: auto;
  border: black;
  border-radius: 5px;
  width: 100%;
  background-color: blueviolet;
}

.input {
  display: flex;
  border: black;
  border-radius: 10px;
  padding: 2px;
  width: 100%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: rgb(219, 214, 228) !important;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  background: #1709e0b7;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  width: 20%;
}