.form {
  display: flex;
  top: 10%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.input {
  border: none;
  border-radius: 0;
  padding: 7px;
  width: 110%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: rgb(219, 214, 228) !important;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  background: #1709e0b7;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}