.textContainer {
  display: flex;
  margin-left: 500px;
  color: white;
  justify-content: space-between;
  text-decoration: underline;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}