.outerContainer {
  background-color: black;
  height: auto;
  padding-top:5px;
  padding-left:30px;
}

.container {
  background: #bdba00;
  border-radius: 10px;
  height: auto;
  width: 95%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: auto;
  }

  .container {
    width: auto;
    height: auto;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
